body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    width: calc(100% - 16px);
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    margin-bottom: 10px;
    padding: 8px 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 3px;
    /* cursor: pointer; */
}

button:hover {
    background-color: #218838;
}

header {
    background-color: #DCDCDC;
    padding: 10px 0;
}

nav {
    text-align: right;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 10px;
}

.menu li a {
    text-decoration: none;
    color:  #111111;
    padding: 5px 10px;
    border-radius: 3px;
}

.menu li a:hover {
    background-color: #e61919;
}

#lists {
    list-style-type: none;
    padding: 0;
} 

#lists li {
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

hr {
    border: none;
    border-top: 2px solid #808080;
}